<?xml version="1.0"?>
<configuration>
	<system.web>		<compilation debug="false"/>
		<customErrors mode="On">
			<error statusCode="404" redirect="/"/>
      <error statusCode="500" redirect="/"/>
		</customErrors>	</system.web>
	<system.webServer>		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />                
			<error statusCode="404" path="/" responseMode="Redirect" />   
      <remove statusCode="500" subStatusCode="-1" />                
			<error statusCode="500" path="/" responseMode="Redirect" />
		</httpErrors>	
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<!-- *********** 301 Redirects **********  -->
        
        <rule name="C Talk to your Doctor" stopProcessing="false">
            <match url="pages/adhd-diagnosis-in-children.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/why-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Talk to your Doctor" stopProcessing="false">
            <match url="pages/adult-adhd-diagnosis.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/why-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Why Strattera" stopProcessing="false">
            <match url="pages/adult-adhd-help.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/why-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A FAQs" stopProcessing="false">
            <match url="pages/adult-adhd-medicine.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/faqs.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A About ADHD" stopProcessing="false">
            <match url="pages/adult-adhd-symptoms.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/about-adhd.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Track Progress" stopProcessing="false">
            <match url="pages/adult-adhd-tracker.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/starting-strattera.html#progress-tracker" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Home Page" stopProcessing="false">
            <match url="pages/adult-attention-deficit-hyperactivity-disorder.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/index.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A What to Expect" stopProcessing="false">
            <match url="pages/adult-taking-strattera.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/starting-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Home Page" stopProcessing="false">
            <match url="pages/attention-deficit-hyperactivity-disorder-children.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Why Strattera" stopProcessing="false">
            <match url="pages/child-adhd-help.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/why-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C FAQs" stopProcessing="false">
            <match url="pages/child-adhd-medicine.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/faqs.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C About ADHD" stopProcessing="false">
            <match url="pages/child-adhd-symptoms-children.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/about-adhd.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Track Progress" stopProcessing="false">
            <match url="pages/child-adhd-tracker.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/starting-strattera.html#progress-tracker" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C What to Expect" stopProcessing="false">
            <match url="pages/child-taking-strattera.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/starting-strattera.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="Home Page" stopProcessing="false">
            <match url="pages/index.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/index.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="ISI" stopProcessing="false">
            <match url="pages/ISI.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/isi.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Safety Information" stopProcessing="false">
            <match url="pages/safety-information-adult-adhd-treatment.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/isi.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Choosing Strattera" stopProcessing="false">
            <match url="pages/safety-information-child-adhd-treatment.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/isi.html" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="Safety Information" stopProcessing="false">
            <match url="pages/side-effects-adult-adhd-medicine.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/starting-strattera.html#side-effects" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Side Effects" stopProcessing="false">
            <match url="pages/side-effects-child-adhd-medicine.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/starting-strattera.html#side-effects" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="A Dosing Information" stopProcessing="false">
            <match url="pages/strattera-dosing-adult-adhd.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/adult/starting-strattera.html#works-gradually" redirectType="Permanent"/>
        </rule>
        
        
        <rule name="C Dosing Information" stopProcessing="false">
            <match url="pages/strattera-dosing-child-teen.aspx" ignoreCase="true"/>
            <action type="Redirect" url="/parent/starting-strattera.html#works-gradually" redirectType="Permanent"/>
        </rule>      
                <rule name="Mobile Rewrite PDF stop" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="pdf/strattera_progress_tracker.pdf" ignoreCase="true" negate="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_USER_AGENT}" pattern="android.*mobile"/>
						<add input="{HTTP_USER_AGENT}" pattern="iphone"/>                        
					</conditions>
					
				</rule>
                <rule name="Mobile Rewrite Why Strattera" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="adult/why-strattera.html" ignoreCase="true" negate="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_USER_AGENT}" pattern="android.*mobile"/>
						<add input="{HTTP_USER_AGENT}" pattern="iphone"/>                        
					</conditions>
					<action type="Redirect" url="http://m.strattera.com/content/treatment-with-strattera-in-adults.aspx"
						appendQueryString="false" redirectType="Found"/>
				</rule>
                <rule name="Mobile Rewrite Parent" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="parent/why-strattera.html" ignoreCase="true" negate="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_USER_AGENT}" pattern="android.*mobile"/>
						<add input="{HTTP_USER_AGENT}" pattern="iphone"/>                        
					</conditions>
					<action type="Redirect" url="http://m.strattera.com/content/treatment-with-strattera-in-children-and-teens.aspx"
						appendQueryString="false" redirectType="Found"/>
				</rule>
                <rule name="Mobile Rewrite ISI" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="isi.html" ignoreCase="true" negate="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_USER_AGENT}" pattern="android.*mobile"/>
						<add input="{HTTP_USER_AGENT}" pattern="iphone"/>                        
					</conditions>
					<action type="Redirect" url="http://m.strattera.com/index.aspx?isi=show"
						appendQueryString="true" redirectType="Found"/>
				</rule>
        <rule name="Mobile Rewrite" patternSyntax="ECMAScript" stopProcessing="true">
					<match url=".*" ignoreCase="true" negate="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{HTTP_USER_AGENT}" pattern="android.*mobile"/>
						<add input="{HTTP_USER_AGENT}" pattern="iphone"/>
					</conditions>
					<action type="Redirect" url="http://m.strattera.com/"
						appendQueryString="false" redirectType="Found"/>
				</rule>
        
				<rule name="10 - Force WWW" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^strattera.com"/>
					</conditions>
					<action type="Redirect" url="http://www.strattera.com/{R:0}" redirectType="Permanent"/>
				</rule>
        
				<rule name="20 - findaddhelp.com" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="findaddhelp.com"/>
					</conditions>
					<action type="Redirect" url="http://www.strattera.com" redirectType="Permanent"/>
				</rule>
        
				<rule name="20 - findadhdhelp.com" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="findadhdhelp.com"/>
					</conditions>
					<action type="Redirect" url="http://www.strattera.com" redirectType="Permanent"/>
				</rule>
        
				<rule name="BPv3 - Documents" stopProcessing="false">
					<match url="^documents/(.*)" ignoreCase="true"/>
					<action type="Redirect" url="_assets/pdf/{R:1}" redirectType="Permanent" />
				</rule>
        
				<rule name="BPv3 - Home" stopProcessing="true">
					<match url="^(pages/)?(home)|(default).aspx" ignoreCase="true"/>
					<action type="Redirect" url="/" redirectType="Permanent" />
				</rule>
        
				<rule name="BPv3 - Pages" stopProcessing="false">
					<match url="^pages(.*)" ignoreCase="true"/>
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>    
</configuration>